body {
  background-color: #523b71;
  margin: 0; }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
.main_box {
  display: flex;
  flex-wrap: wrap; }

.logo {
  font-family: sans-serif, Arial, Helvetica;
  display: inline-block;
  color: white;
  height: 50px;
  line-height: 15px;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 40%; }

.row {
  flex-grow: 2;
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*width: 60%;*/
  flex-wrap: wrap;
  float: right; }

.row_child {
  height: 30px;
  flex-grow: 1; }

.row_child a {
  transition: 0.3s;
  display: block;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  background-color: #523b71;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
  color: white;
  font-weight: 600;
  line-height: 15px;
  font-size: 18px; }

.row_child a:hover {
  background-color: #3e52aa; }

.nav_button {
  width: 50px;
  height: 50px;
  display: none;
  margin: 5px; }

.nav_button img {
  width: 50px;
  color: aliceblue; }

.search {
  background-color: #36274b;
  border: none;
  height: 30px;
  margin-top: 15px; }

.s_button {
  height: 30px;
  margin-top: 15px;
  width: 80px;
  border-radius: 3px;
  border: none;
  background-color: #ae81ea; }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*****************/
@media (min-width: 320px) and (max-width: 1024px) {
  .nav_button_ct {
    flex-basis: 60%;
    flex-grow: 3; }

  .nav_button {
    display: block;
    float: right; }

  .row {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    order: 3;
    display: flex;
    flex-basis: 500px;
    visibility: hidden;
    opacity: 0; }

  .row_child {
    height: 50px;
    flex-grow: 1; } }
/******************************************/
.row_appear {
  visibility: visible;
  opacity: 1;
  transition: 0.5s; }

.cont {
  width: 100%;
  background-color: #36274b;
  border-radius: 10px;
  display: flex; }

.login_cont {
  width: max-content;
  margin: 0 auto;
  padding-top: 50px; }

.sign {
  color: #b982f3;
  font-family: sans-serif;
  font-size: 22px;
  margin: 10px 0; }

.username_in {
  background-color: transparent;
  font-family: sans-serif;
  font-size: 18px;
  border: 2px solid #b982f3;
  border-radius: 5px;
  color: white;
  outline: none;
  height: 40px;
  margin: 5px 0; }

.password_in {
  background-color: transparent;
  font-family: sans-serif;
  font-size: 18px;
  border: 2px solid #b982f3;
  border-radius: 5px;
  color: white;
  height: 40px;
  margin: 5px 0; }

.password div {
  color: #b982f3;
  font-family: sans-serif;
  font-size: 18px; }

.button {
  background-color: #7cf04f;
  width: 50%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 5px;
  color: #523b71; }

.dash_cn {
  width: 95%;
  display: flex;
  flex-flow: row;
  margin: 0 auto; }

.dash_post_cn {
  display: flex;
  flex-flow: column;
  flex-basis: 0;
  flex-grow: 1; }

.dash_post {
  height: 80px;
  width: 100%;
  background-color: #36274b;
  margin: 3px;
  font-family: sans-serif;
  color: white;
  display: flex; }

.content {
  flex-grow: 9;
  font-size: 18px;
  flex-basis: 0; }

.settings {
  flex-grow: 1;
  border-left: 2px solid green;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly; }

.dash_post_title {
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 5px; }

.dash_post_score {
  display: flex;
  flex-flow: row;
  font-size: 14px;
  margin-left: 20px;
  flex-grow: 1; }

.green_score {
  color: #7cf04f;
  flex-grow: 0; }

.red_score {
  color: #ca3939;
  flex-grow: 0; }

.score_bar {
  flex-grow: 2;
  flex-basis: 0;
  margin: 0 10px;
  display: flex; }

.red_bar {
  width: 40%;
  background-color: #ca3939;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

.green_bar {
  width: 60%;
  background-color: #7cf04f;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; }

.comments_score {
  flex-grow: 1;
  text-align: center; }

.add_post_plus {
  background-color: #523b71;
  width: 50px;
  height: 50px;
  color: #36274b;
  border-radius: 100%;
  text-align: center;
  font-size: 38px;
  line-height: 50px;
  align-self: center;
  margin: 0 auto; }

.dash_stats {
  display: flex;
  flex-flow: column;
  flex-grow: 1.2;
  flex-basis: 0;
  margin-left: 20px; }

.user_profile {
  display: flex;
  flex-flow: row;
  height: 150px;
  padding-bottom: 10px; }

.user_picture {
  flex-grow: 0.1; }

.picture img {
  border-radius: 100%;
  width: 150px;
  height: 150px; }

.username_cont {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-flow: column;
  justify-content: center; }

.username_inf {
  display: flex;
  flex-flow: column;
  flex-grow: 1; }

.username {
  flex-basis: 0;
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  padding-left: 20px; }

.other_inf {
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 6px;
  padding-left: 20px;
  color: #36274b;
  font-weight: bold; }

.user_stats {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 150px 150px 150px; }

.user_stats > div {
  border: 3px solid #36274b;
  margin: 2px; }

.exp {
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  color: #36274b; }

.val {
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  color: #7cf04f; }

/*# sourceMappingURL=login.css.map */
