@import 'variables';
.dash_cn{

    width: 95%;
    display:flex;
    flex-flow: row;
    height: 500px;
    margin: 0 auto;
}
.dash_post_cn{
    //width: 100%;
    //flex-grow: 1;
    display: flex;
    flex-flow: column;
    flex-basis: 0;
    flex-grow: 1;



    
}

.dash_post{
    height: 80px ;
    width: 100%;
    background-color: $post_cl;
    margin: 3px;
    font-family: sans-serif;
    color: white;
    display: flex;
    
}
.content{
    flex-grow: 9;
    font-size: 18px;
    flex-basis: 0;

}
.settings{
    
    flex-grow: 1;
    border-left: 2px solid green;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

}
.edit{
   // height: 50%;
    

}

.visit{
    ///height: 50%;
}



.dash_post_title{
    
    padding: 5px;
    padding-left: 20px;
    margin-bottom:5px;

}
.dash_post_score{
    display: flex;
    flex-flow: row;
    font-size: 14px;
    margin-left: 20px;
    flex-grow: 1;
}

.green_score{
    color: $green_scr;
    flex-grow: 0;
}
.red_score{
    color: $red_scr;
    flex-grow: 0;

}

.score_bar{
    flex-grow:2;
    flex-basis: 0;
    margin: 0 10px;
    display: flex;   
}

.red_bar{
    width: 40%;
    background-color:  $red_scr;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.green_bar{
    width: 60%;
    background-color: $green_scr;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.comments_score{
    flex-grow: 1;
    text-align: center;
    
}




.dash_stats{
    display: flex;
    flex-flow: column;
    background-color: antiquewhite;
    flex-grow: 1.2;
    margin-left: 20px;
}

