.da_cont{
    width: 90.7%;
    margin: 5px auto;

}

.datepicker{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.datepicker .textarea{
    text-align: center;
    line-height: 30px;
    margin-right: 2px;
    height: 30px;

    
    font-family: sans-serif;
    font-weight: 600;
}
.year{
    flex-grow: 2;
    width: 13%;

}
.date{
    flex-grow: 1;
    width: 7%;

}
.dat_text{
    flex-grow: 4;
    color: white;
    width: 10%;
    line-height: 30px;

}