.pop_post_cont{
    //width: 70%;
    flex-grow: 0;
    margin-left:20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.post_cont{
    background-color: #36274b;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    max-width: 700px;
    margin-bottom: 20px;
    
}
//TWO CONTAINERS
.column_2{
    display: flex;
    flex-direction: row ;
    height: 64%;
    align-items: stretch;
}


.text_cont{
    
    display: block;
    min-width: 0;
    //overflow: hidden;
    text-align: left;
    flex-grow: 1;
    //flex: 1  1 1;
    //flex-shrink: 2;
    flex-basis: 65%;
    position: relative;
}
.date_cont{
    display: block;
    
    flex-grow: 4;
    border-color: aquamarine;
}


.expand_post{
    //position: absolute;
    //bottom: 20px;
    width: 100%;
    //height: 100%;
    //top:0;
    background-color: transparent;
    
    color: white;
    //width: 100%;
    text-align: center;
    //border-radius: 10px;
    //height: 0px;
    //margin-bottom: 30px;
    //border: 3px solid transparent;
    cursor: pointer; 
}
.expand_post div{
    bottom: 0;
    //position: absolute;
    text-align: center;
    width: 30%;
    //margin: -9px;
    //padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 25px;
    background-color: #694d92;
    border-radius: 10px;
    margin: 0 auto;
    margin-top:3px; 

    


    
}

.expand_post:hover div{

color:rgb(120, 120, 243);
}


//FIRST CONTAINER
.post_header{
    line-height: 30px;
    font-size: 30px;
    color: white;
    height:30px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-left: 20px;
    padding-top: 10px;
    font-family: sans-serif;

}

.post_user{
    margin-left: 20px;
    line-height: 0px;
    margin-bottom: 20px;
    color: #575f8d;


}

.post_cont hr{
    margin: 10px auto;
    width: 92%;

}

.post_text{
    font-size: 18px;
    color: white;
    height:30px;
    margin-bottom: 0px;
    margin-left: 20px;
    overflow: hidden;
    font-family: sans-serif;
    height: 87%;
    margin-top: 6px;
}
.expand_text{
    overflow:none;
    height: fit-content;
}
.expand_cont{
    height: fit-content;
}



//Second container
.date_cont *{
text-align: center;
height: 40px;

//line-height: 30px;
font-size: 18px;
font-weight: 550;
color:#7cf04f;
font-family: sans-serif;

}
.date_f{
    font-size: 16px;
    color: #65c240;


}

// Thir cont bottom buttons
.post_buttons{
    display: flex;
    height:50px;
    //border-top: 1px solid #7cf04f;
    border:4px solid #36274b;
    border-top: none;
    flex-flow:row;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
.post_buttons *{
    height: 40px;
    flex-grow: 1;
    margin: 2px 4px;
    border-radius: 5px;
    margin-bottom: 30px;

    line-height: 40px;
font-size: 18px;
font-weight: 550;
color:#3f4566;
font-family: sans-serif;
text-align: center;

}
.di_li_cont{
    display: flex;
    flex-wrap: wrap;

}
.likes{
    color:#7cf04f;

}
.dislikes{
    color:#ca3939;
}


.post_buttons div:nth-child(4){
    background-color: transparent; 

}
.like_button{
    background-color: #7cf04f;

}
.dislike_button{
    background-color: #ca3939;

}
.comment_button{
    background-color: gray;
    color: #8b8fa9;
}

