.pop_post_cont{
    width: 70%;
    margin-left:20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.post_cont{
    background-color: #36274b;
    border-radius: 5px;
    width: max-content;
    height: 350px;
    max-width: 700px;
    
}
//TWO CONTAINERS
.column_2{
    display: flex;
    flex-direction: row ;
    height: 64%;
    align-items: stretch;
}


.text_cont{
    
    display: block;
    min-width: 0;
    //overflow: hidden;
    text-align: left;
    flex-grow: 2;
    //flex: 1  1 1;
    //flex-shrink: 2;
    flex-basis: 75%;
}
.date_cont{
    display: block;
    
    flex-grow: 1;
    border-color: aquamarine;
}
//FIRST CONTAINER
.post_header{
    line-height: 30px;
    font-size: 30px;
    color: white;
    height:30px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-left: 20px;
    padding-top: 10px;
    font-family: sans-serif;

}

.post_user{
    margin-left: 20px;
    line-height: 0px;
    margin-bottom: 20px;
    color: #575f8d;


}

.post_cont hr{
    margin: 10px auto;
    width: 92%;

}

.post_text{
    line-height: 30px;
    font-size: 18px;
    color: white;
    height:30px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-left: 20px;
    overflow: hidden;
    font-family: sans-serif;
    height: 90%;
}
.expand_text{
    overflow:none;
    height: fit-content;
}
.expand_cont{
    height: fit-content;
}



//Second container
.date_cont *{
text-align: center;
height: 40px;

line-height: 30px;
font-size: 18px;
font-weight: 550;
color:#7cf04f;
font-family: sans-serif;

}

// Thir cont bottom buttons
.post_buttons{
    display: flex;
    height:50px;
    //border-top: 1px solid #7cf04f;
    border:4px solid #36274b;
    border-top: none;
    flex-flow:row;
    padding-top: 5px;
    border-radius: 5px;
}
.post_buttons *{
    height: 40px;
    flex-grow: 1;
    margin: 2px 4px;
    border-radius: 5px;
    margin-bottom: 30px;

    line-height: 40px;
font-size: 18px;
font-weight: 550;
color:#3f4566;
font-family: sans-serif;
text-align: center;

}

.post_buttons div:nth-child(3){
    background-color: transparent; 

}
.like_button{
    background-color: #7cf04f;

}
.dislike_button{
    background-color: #ca3939;

}
.comment_button{
    background-color: gray;
}

