#loginPopupCont{
    
    visibility: hidden;
}
#deletePopup{
    
    visibility: hidden;
}
.deletePopupContainer{
    width: 100%;
    height: 100%;
   
    background-color: rgba(44, 44, 44, 0.5);
    position: fixed;
    display: block;
    z-index: 1;
}

.loginPopupContainer{
    width: 100%;
    height: 100%;
   
    background-color: rgba(44, 44, 44, 0.5);
    position: fixed;
    display: block;
    z-index: 1;
    
   
}



#loginPopup{
    opacity: 1;
    width: 500px;
    height: 200px;
    background-color: #43305e;
    position: fixed;
    display: block;
    z-index: 2;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    display: flex;
    flex-flow: column;
    //visibility: hidden;
}
.popupButtonContainer{
    display: flex;
    margin: auto auto;
    margin-top: 10px;
    flex-flow: column;
    left: 0;
    right: 0;
}
.popupButton{
    border-radius: 4px;
    border: 1px solid gray;
    width:150px;
    height: 70px;
    font-size: 18px;
    margin-top: 10px;
}
.popupText{
    text-align: center;
    margin-top: 15px;
  color: #bf82f7;
    font-size: 30px;
    font-family: sans-serif;
}
.popupButtonText{
    text-align: center;
    margin-top: 15px;
  color: white;
    font-size: 30px;
    font-family: sans-serif;
}
.popupButton:hover{
   border: 1px solid rgb(207, 207, 207);
    


}