@import "variables";

.main_box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 60px;
}

.logoLinkContainer{
  height: fit-content;
}
.logo{
    font-family: sans-serif, Arial, Helvetica ;
    display: flex;
    flex-flow: row;
    color: white;
    height: 50px;
    line-height: 15px;
    font-size: 18px;
    //padding-top: 20px;
    text-align: center;
    //flex-grow: 0.1;
    flex-basis: 10%;
    padding-left: 20px;
    padding-right: 10px;
}
.headerIcon{
  height: 50px;
  width: 50px;
  padding: 3px;
}
.logoText{
  padding-top: 20px;
  font-size: 20PX;
  font-weight: bold;
  color: #876ee8;
}


.row{
    flex-grow: 4;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10px;
    flex-wrap: wrap;
    float: right;
}
.row_child{
    
    flex-grow: 1;
    
}



//sssssssssssss
@import "mobileButton";
@import "search";
@import "sortButton";
@import "userButton";
@import "loginPopup";
.singleButtonNav a{
  display: flex;
  flex-flow: row;
  transition: 0.3s;

  height: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #523b71;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica ;
  outline:none;
  color: white;
  font-weight: 600;
  line-height: 27px;
  font-size: 18px;
  cursor:pointer;
  clear: both;
  position:relative;
  vertical-align: center;
  border:1px solid #ae81ea;
  border-radius: 4px;
}

.buttonContainerNav{
  display: flex;
  flex-flow: row;
  line-height: normal;
  flex-grow: 1;

  justify-content: center;
 }


 .buttonContainerNavText{
   padding-left: 0px;
   color: white;
 }
.singleButtonNav a:hover{
  background-color: rgb(62, 82, 170);
}


.show {display:block;}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
  
  }



  



  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    


  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 30px) and (max-width: 480px) {
    /*
  .nav_button_ct{
        
   height: 30px;
   margin-top: 12px;
}
.nav_button{
    
    display: block;
    float: right;
}
.row {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    order:3;
    display: flex;
    flex-basis:500px;
    visibility: hidden;
    opacity: 0;
    
  }
  .row_child{
     
      flex-grow: 1;
      
  }

  .row_appear{
    visibility: visible;
    opacity:1;
    transition:0.5s;
}*/
   
    
  }

/*****************/
  @media (min-width: 320px) and (max-width: 1024px) {
    




  }
  /******************************************/
