.search{
    background-color: $post_cl;
    border: none;
    height: 30px;
    margin-top: 15px;

}
.s_button{
    height: 30px;
    margin-top: 15px;
    width: 80px;
    border-radius: 3px;
    border: none;
    background-color: #ae81ea;
}
