RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^api/(.*)$ /index.php?url=$1 [NC,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ /react/react-app/build/index.html [NC,L,QSA]


