@import "variables";

.main_box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}


.logo{
    font-family: sans-serif, Arial, Helvetica ;
    display: inline-block;
    color: white;
    height: 50px;
    line-height: 15px;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
    //flex-grow: 0.1;
    flex-basis: 20%;
}


.row{
    flex-grow: 4;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 60%;*/
    flex-wrap: wrap;
    float: right;
}
.row_child{
    height:30px;
    flex-grow: 1;
    
}
.row_child a{
  border:1px solid #ae81ea;
  border-radius: 4px;
    transition: 0.3s;
    display: block;
    height: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    background-color: #523b71;
    text-decoration: none;
    font-family: sans-serif, Arial, Helvetica ;
    margin-right:10px; 
    color: white;
    font-weight: 600;
    line-height: 15px;
    font-size: 18px;
    margin-top: 10px;
}
.row_child a:hover{
    background-color: rgb(62, 82, 170);

}

.nav_button{
    width: 25px;
    height: 25px;
    display: none;
    z-index: 2;
    margin: 5px;
}
.nav_button img{
    width: 25px;
    color: aliceblue;
    cursor: pointer;
}



.search{
    background-color: $post_cl;
    border: none;
    height: 30px;
    margin-top: 15px;

}
.s_button{
    height: 30px;
    margin-top: 15px;
    width: 80px;
    border-radius: 3px;
    border: none;
    background-color: #ae81ea;
}



.dropbtn{
  transition: 0.3s;
  display: block;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #523b71;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica ;
  outline:none;
  color: white;
  font-weight: 600;
  line-height: 0px;
  font-size: 18px;
  cursor:pointer;
  clear: both;
  position:relative;
  vertical-align: center;
  border:1px solid #ae81ea;
  border-radius: 4px;
}

.dropbtn a{
  transition: 0.3s;
  display: block;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #523b71;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica ;
  
  color: white;
  font-weight: 600;
  line-height: 20px;
  font-size: 18px;
  cursor:pointer;
  clear: both;
  position:relative;
  vertical-align: center;
  border:0;
  border-radius: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-contentUser {
  display: none;
  position: absolute;
margin-top: 5px;
  z-index: 1;
  width: 130%;
  background-color: #3f235a;
  height: fit-content;
  padding-left: 5px;
  right: 0;
  border:1px solid  rgb(62, 82, 170);
  padding-bottom: 5px;
}



/* Add a grey background color to dropdown links on hover */
.dropdown-contentUser a:hover {
  background-color: rgb(62, 82, 170);
}


.dropbtn:hover{
  background-color: rgb(62, 82, 170);
}




.settingsIcon{
  width: 25px;
  height: 25px;
  //padding-bottom: 20px;
}





/* Dropdown content (hidden by default) */
.dropdown-contentNav {
  display: none;
  position: absolute;
margin-top: 5px;
  z-index: 1;
  width: 40%;
  background-color: #3f235a;
  height: fit-content;
  padding-left: 5px;
  right: 0;
  border:1px solid  rgb(62, 82, 170);
  padding-bottom: 5px;
}



/* Add a grey background color to dropdown links on hover */
.dropdown-contentNav a:hover {
  background-color: rgb(62, 82, 170);
}


.dropbtn:hover{
  background-color: rgb(62, 82, 170);
}




.show {display:block;}












/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
  
  }



  



  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    


  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 30px) and (max-width: 480px) {
    
  .nav_button_ct{
        
   height: 30px;
   margin-top: 12px;
}
.nav_button{
    
    display: block;
    float: right;
}
.row {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    order:3;
    display: flex;
    flex-basis:500px;
    visibility: hidden;
    opacity: 0;
    
  }
  .row_child{
     
      flex-grow: 1;
      
  }

  .row_appear{
    visibility: visible;
    opacity:1;
    transition:0.5s;
}
   
    
  }

/*****************/
  @media (min-width: 320px) and (max-width: 1024px) {
    




  }
  /******************************************/
