
// Thir cont bottom buttons
.post_buttons{
    display: flex;
    height:50px;
    //border-top: 1px solid #7cf04f;
    border:4px solid #36274b;
    border-top: none;
    flex-flow:row;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
.post_buttons *{
    height: 40px;
    flex-grow: 1;
    margin: 2px 4px;
    border-radius: 5px;
    margin-bottom: 30px;

    line-height: 40px;
font-size: 18px;
font-weight: 550;
color:#3f4566;
font-family: sans-serif;
text-align: center;

}
.di_li_cont{
    display: flex;
    flex-wrap: wrap;

}
.likes{
    color:#7cf04f;

}
.dislikes{
    color:#ca3939;
}


.post_buttons div:nth-child(4){
    background-color: transparent; 

}
.like_button{
    cursor: pointer;
    border:1px solid #7cf04f;
    background-color: #36274b;

}
.dislike_button{
    cursor: pointer;
    border:1px solid #ca3939;
    background-color: #36274b;

}
.like_button:hover{
    
    border:1px solid #255a11;
    

}
.dislike_button:hover{
    
    border:1px solid #ec1111;
    

}



.comment_button{
    border:1px solid gray;
  
    color: #8b8fa9;
}

.commentLinkButton:hover .comment_button{
    
    border:1px solid rgb(88, 88, 88);
    

}



.starVoteContainer{
    height : 35px;
    background-color: #2f243f;
    padding-top: 20px;
    display: flex;
}
.starVoteStats{
color:#564272;
font-size: 14px;
display: flex;
font-family: sans-serif;
//font-style: italic;
}
.starVoteCount{

}
.starVoteBar{
    width: 45%;
    max-width: 200px;
    display: flex;
    justify-content: space-evenly;
    
}
.starVote{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: #2e5639 ;
    position: relative;
    cursor: pointer;
}
.starVoteTextBox{
    transition: 0.2s;

        position: absolute;
        background-color: #1a0c2e ;
        height: 25px;
        width:  max-content;
        top: -25px;
        left: -40px;
        line-height: 25px;
        color: white;
        padding: 0 5px;
        border-radius: 5px;
        font-size: 14px;
    
}
.starVoteGreen{
    background-color: #21d251;

}
.starVoteDarkGreen{
    background-color: #2e5639 !important;

}
.starVoteGreenHover{
    transition: 0.2s;

    background: #5f56f5 !important;
    

}

