.pop_post_cont{
    //width: 70%;
    flex-grow: 1;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: min-content;
    

}

.post_cont{
    background-color: #36274b;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    max-height: 400px;
    max-height: 600px;
    margin-bottom: 20px;
  //  margin-left: 20px;
  margin-left: auto;
  max-width: 650px;
  box-shadow: 0px 6px 12px #00000050;
  border: 1px solid transparent;
}
.finalResult{
  text-align: center;
  color: white;
  padding:20px 0;
  font-size: 18px;
  font-family:sans-serif;

}

.expand_cont{
  height: fit-content;
  max-height: none;;
}

