.postCommentReply{
    margin-left: 20px;
    width: 97%;
    max-width: 600px;
}

ul{
    list-style: none;
}
.comment_section{
    width: 97%;
    margin-left:20px;;
    
}
.comment_section > div{
    //height: 60px;
    font-family: sans-serif;
    color: white;

    padding-left: 20px;
}





