html {
  display: grid; }

body {
  background-color: #523b71;
  margin: 0; }

a {
  text-decoration: none; }

a, a:link, a:visited, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none; }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
.search_bar {
  height: 50px;
  display: flex;
  flex-grow: 1;
  flex-basis: 30%; }

.search {
  height: 30px;
  flex-grow: 1;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  color: white;
  padding: 0px 0px 0px 10px;
  width: 0;
  min-width: 60px; }

.search_button {
  border: 1px solid #111d4e;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin: 15px 5px 0px 0px;
  padding-left: 10px;
  width: 30px;
  height: 28px;
  cursor: pointer; }

.search_button img {
  transition: 0.3s;
  margin-top: 3px;
  width: 25px;
  height: 25px; }

.search_button:hover {
  border: 1px solid #777fa3; }

.main_box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  height: 60px; }

.logoLinkContainer {
  height: fit-content; }

.logo {
  font-family: sans-serif, Arial, Helvetica;
  display: flex;
  flex-flow: row;
  color: white;
  height: 50px;
  line-height: 15px;
  font-size: 18px;
  text-align: center;
  flex-basis: 10%;
  padding-left: 20px;
  padding-right: 10px; }

.headerIcon {
  height: 50px;
  width: 50px;
  padding: 3px; }

.logoText {
  padding-top: 20px;
  font-size: 20PX;
  font-weight: bold;
  color: #876ee8; }

.row {
  flex-grow: 4;
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 10px;
  flex-wrap: wrap;
  float: right; }

.row_child {
  flex-grow: 1; }

.nav_button {
  width: 25px;
  height: 25px;
  display: none;
  z-index: 2;
  margin: 5px; }

.dropdown-contentNav {
  display: none;
  position: absolute;
  margin-top: 5px;
  z-index: 1;
  width: 40%;
  background-color: #3f235a;
  height: fit-content;
  padding-left: 5px;
  right: 0;
  border: 1px solid #3e52aa;
  padding-bottom: 5px; }

.dropdown-contentNav a:hover {
  background-color: #3e52aa; }

.nav_button img {
  width: 25px;
  color: aliceblue;
  cursor: pointer; }

.search {
  background-color: #36274b;
  border: none;
  height: 30px;
  margin-top: 15px; }

.s_button {
  height: 30px;
  margin-top: 15px;
  width: 80px;
  border-radius: 3px;
  border: none;
  background-color: #ae81ea; }

.sortDropdownButton {
  flex-grow: 2;
  display: flex;
  flex-flow: row;
  transition: 0.3s;
  position: absolute;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #523b71;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
  outline: none;
  color: white;
  font-weight: 600;
  line-height: 0px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  vertical-align: center;
  border: 1px solid #ae81ea;
  border-radius: 4px;
  min-width: 155px;
  max-width: 250px; }

.sortDropdown-content {
  display: none;
  position: absolute;
  margin-top: 30px;
  z-index: 1;
  width: 98%;
  background-color: #3f235a;
  height: fit-content;
  padding-left: 5px;
  right: 0;
  border: 1px solid #3e52aa;
  padding-bottom: 5px;
  cursor: default;
  border-radius: 4px; }

.buttonContainerSort {
  display: flex;
  flex-flow: row;
  line-height: normal;
  flex-grow: 1;
  justify-content: space-between; }

.sortDropdownLink {
  display: flex;
  flex-flow: row;
  transition: 0.3s;
  height: 10px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 18px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #523b71;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
  outline: none;
  color: white;
  font-weight: 600;
  line-height: 0px;
  font-size: 18px;
  cursor: pointer;
  clear: both;
  position: relative;
  vertical-align: center;
  border: 1px solid #ae81ea;
  border-radius: 4px; }

.sortDropdownLink:hover {
  background-color: #3e52aa; }

.sortDropdown-content a:hover {
  background-color: #3e52aa; }

.sortDropdownButton:hover {
  background-color: #3e52aa; }

.buttonContainerSortText {
  padding-left: 10px; }

.sortIcon {
  height: 10px;
  flex-grow: inherit;
  padding-top: 8px;
  pointer-events: none; }

.popIcon {
  width: 20px;
  height: 20px;
  padding-right: 10px; }

.sortIconText {
  padding-top: 13px;
  pointer-events: none;
  width: 55%; }

.userDropdownButton {
  display: flex;
  flex-flow: row;
  transition: 0.3s;
  flex-grow: 2;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #523b71;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
  outline: none;
  color: white;
  font-weight: 600;
  line-height: 0px;
  font-size: 18px;
  cursor: pointer;
  clear: both;
  position: relative;
  vertical-align: center;
  border: 1px solid #ae81ea;
  border-radius: 4px;
  min-width: 160px; }

.userDropdownButton:hover {
  background-color: #3e52aa; }

.userDropdown-content {
  display: none;
  position: absolute;
  margin-top: 30px;
  z-index: 1;
  width: 98%;
  background-color: #3f235a;
  height: fit-content;
  padding-left: 5px;
  right: 0;
  border: 1px solid #3e52aa;
  padding-bottom: 5px;
  cursor: default;
  border-radius: 4px; }

.dropdown-contentUser a:hover {
  background-color: #3e52aa; }

.userIcon {
  pointer-events: none;
  padding-top: 1px;
  flex-grow: 1;
  height: 22px; }

.loginPopupContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.5);
  position: fixed;
  display: block;
  z-index: 1;
  visibility: hidden; }

#loginPopup {
  opacity: 1;
  width: 500px;
  height: 200px;
  background-color: #43305e;
  position: fixed;
  display: block;
  z-index: 2;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: column; }

.popupButtonContainer {
  display: flex;
  margin: auto auto;
  margin-top: 10px;
  flex-flow: column;
  left: 0;
  right: 0; }

.popupButton {
  border-radius: 4px;
  border: 1px solid gray;
  width: 150px;
  height: 70px;
  font-size: 18px;
  margin-top: 10px; }

.popupText {
  text-align: center;
  margin-top: 15px;
  color: #bf82f7;
  font-size: 30px;
  font-family: sans-serif; }

.popupButtonText {
  text-align: center;
  margin-top: 15px;
  color: white;
  font-size: 30px;
  font-family: sans-serif; }

.popupButton:hover {
  border: 1px solid #cfcfcf; }

.singleButtonNav a {
  display: flex;
  flex-flow: row;
  transition: 0.3s;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #523b71;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
  outline: none;
  color: white;
  font-weight: 600;
  line-height: 27px;
  font-size: 18px;
  cursor: pointer;
  clear: both;
  position: relative;
  vertical-align: center;
  border: 1px solid #ae81ea;
  border-radius: 4px; }

.buttonContainerNav {
  display: flex;
  flex-flow: row;
  line-height: normal;
  flex-grow: 1;
  justify-content: center; }

.buttonContainerNavText {
  padding-left: 0px;
  color: white; }

.singleButtonNav a:hover {
  background-color: #3e52aa; }

.show {
  display: block; }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 30px) and (max-width: 480px) {
    /*
  .nav_button_ct{
        
   height: 30px;
   margin-top: 12px;
}
.nav_button{
    
    display: block;
    float: right;
}
.row {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
    order:3;
    display: flex;
    flex-basis:500px;
    visibility: hidden;
    opacity: 0;
    
  }
  .row_child{
     
      flex-grow: 1;
      
  }

  .row_appear{
    visibility: visible;
    opacity:1;
    transition:0.5s;
}*/ }
/*****************/
/******************************************/
.postCommentReply {
  margin-left: 20px;
  width: 97%;
  max-width: 600px; }

ul {
  list-style: none; }

.comment_section {
  width: 97%;
  margin-left: 20px; }

.comment_section > div {
  font-family: sans-serif;
  color: white;
  padding-left: 20px; }

.comment {
  background-color: #36274b; }

.comment_user {
  padding: 7px 0;
  display: flex;
  flex-flow: row;
  color: #9e9e9e; }

.user {
  color: #7979d4; }

.comment_date {
  padding-left: 18px;
  color: #9e9e9e; }

.comment_user > div {
  padding-right: 20px; }

.comment_text {
  padding: 4px 0;
  max-width: 650px;
  line-height: 1.3; }

.comment_buttons {
  display: flex;
  height: 20px;
  flex-flow: row;
  padding-top: 30px;
  width: 40%;
  padding-bottom: 5px; }

.comment_buttons * {
  height: 20px;
  flex-grow: 1;
  border-radius: 5px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 550;
  color: #3f4566;
  font-family: sans-serif;
  text-align: center; }

.comment_di_li_cont {
  display: flex;
  flex-wrap: wrap; }

.comment_likes {
  color: #7cf04f; }

.comment_dislikes {
  color: #ca3939; }

.comment_buttons div:nth-child(4) {
  background-color: transparent; }

.comment_like_button {
  cursor: pointer;
  border: 1px solid #7cf04f;
  flex-grow: 0.6; }

.comment_dislike_button {
  cursor: pointer;
  border: 1px solid #ca3939;
  flex-grow: 0.6; }

.comment_comment_button {
  background-color: gray;
  color: #8b8fa9;
  cursor: pointer;
  padding: 0 30px; }

.commentReplyContainer {
  width: 100%;
  height: 170px;
  padding-bottom: 50px;
  padding-top: 10px; }

.replyTextarea {
  display: block;
  width: 100%;
  height: 190px;
  margin: 0px auto;
  background-color: #3f2e57;
  border: none;
  color: white;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px; }

.commentReplyButton {
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100px;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: sans-serif; }

.da_cont {
  width: 90.7%;
  margin: 5px auto; }

.datepicker {
  display: flex;
  width: 100%;
  flex-direction: row; }

.datepicker .textarea {
  text-align: center;
  line-height: 30px;
  margin-right: 2px;
  height: 30px;
  font-family: sans-serif;
  font-weight: 600; }

.year {
  flex-grow: 2;
  width: 13%; }

.date {
  flex-grow: 1;
  width: 7%; }

.dat_text {
  flex-grow: 4;
  color: white;
  width: 100%;
  line-height: 30px; }

.pop_post_cont {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: min-content; }

.post_cont {
  background-color: #36274b;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  max-width: 600px;
  margin-bottom: 20px; }

.column_2 {
  display: flex;
  flex-direction: row;
  height: 68%;
  align-items: stretch; }

.text_cont {
  border: 1px solid transparent;
  border-radius: 5px;
  display: block;
  min-width: 0;
  overflow: hidden;
  text-align: left;
  flex-grow: 1;
  flex-basis: 65%;
  position: relative;
  cursor: pointer; }

.text_cont:hover {
  border: 1px solid #9696c5; }

.date_cont {
  display: block;
  flex-grow: 4;
  border-color: aquamarine; }

.expand_post {
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  cursor: pointer; }

.expand_post div {
  bottom: 0;
  text-align: center;
  width: 30%;
  font-family: sans-serif;
  font-size: 25px;
  background-color: #694d92;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 3px; }

.expand_post:hover div {
  color: #7878f3; }

.post_header {
  line-height: 30px;
  font-size: 30px;
  color: white;
  height: 30px;
  line-height: 30px;
  margin-bottom: 8px;
  margin-left: 20px;
  padding-top: 10px;
  font-family: sans-serif; }

.post_user {
  margin-left: 20px;
  line-height: 0px;
  margin-bottom: 20px;
  color: #575f8d; }

.post_cont hr {
  margin: 10px auto;
  width: 92%; }

.post_text {
  font-size: 18px;
  color: white;
  height: 30px;
  margin-bottom: 0px;
  margin-left: 20px;
  overflow: hidden;
  font-family: sans-serif;
  height: 100%;
  margin-top: 6px; }

.expand_text {
  overflow: none;
  height: fit-content; }

.expand_cont {
  height: fit-content; }

.date_cont * {
  text-align: center;
  height: 40px;
  font-size: 18px;
  font-weight: 550;
  color: #7cf04f;
  font-family: sans-serif; }

.date_f {
  font-size: 16px;
  color: #65c240; }

.post_buttons {
  display: flex;
  height: 50px;
  border: 4px solid #36274b;
  border-top: none;
  flex-flow: row;
  padding-top: 5px;
  border-radius: 5px;
  margin-left: 10px; }

.post_buttons * {
  height: 40px;
  flex-grow: 1;
  margin: 2px 4px;
  border-radius: 5px;
  margin-bottom: 30px;
  line-height: 40px;
  font-size: 18px;
  font-weight: 550;
  color: #3f4566;
  font-family: sans-serif;
  text-align: center; }

.di_li_cont {
  display: flex;
  flex-wrap: wrap; }

.likes {
  color: #7cf04f; }

.dislikes {
  color: #ca3939; }

.post_buttons div:nth-child(4) {
  background-color: transparent; }

.like_button {
  cursor: pointer;
  border: 1px solid #7cf04f;
  background-color: #36274b; }

.dislike_button {
  cursor: pointer;
  border: 1px solid #ca3939;
  background-color: #36274b; }

.like_button:hover {
  border: 1px solid #255a11; }

.dislike_button:hover {
  border: 1px solid #ec1111; }

.comment_button {
  border: 1px solid gray;
  color: #8b8fa9; }

.commentLinkButton:hover .comment_button {
  border: 1px solid #585858; }

.main_cont {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center; }

.right_cont {
  display: flex;
  flex-flow: column;
  flex-grow: 1.5;
  flex-wrap: wrap;
  margin: 20px;
  flex-basis: 0; }

.smaller_cont {
  width: 100%;
  margin: 10px 0;
  background-color: #3f235a;
  border-radius: 10px; }

.cat_head {
  color: #b982f3;
  padding-left: 20px;
  font-family: sans-serif;
  font-size: 18px; }

.list_category {
  list-style: none;
  padding-left: 0; }

.list_category li a {
  padding: 0 20px;
  display: block;
  color: #cdc8dd;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #6f3e9c;
  width: inherit;
  height: fit-content;
  line-height: 30px;
  transition: 0.3s; }

.list_category li a:hover {
  background-color: #3f7bb3; }

/*# sourceMappingURL=mainStyle.css.map */
