

.dash_post{
    height: 115px ;
    width: 100%;
    background-color: $post_cl;
    margin: 3px;
    font-family: sans-serif;
    color: white;
    display: flex;
    border-radius: 5px;
    margin: 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.userPostContentContainer{
    flex-grow: 9;
    font-size: 18px;
    flex-basis: 0;
    padding-bottom: 30px;
    margin-right: 10px;
}
.userPostsScore{
    display: flex;
    flex-flow: row;
    font-size: 14px;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}
.userPostContentContainer .di_li_bar{
    margin-top: 3px;
    margin-bottom: 3px;
    //max-width: 90px;
}
.userPostContentContainer .di_li_bar .di_li_bar_red{
    flex-grow:1;
}
.settings{
    
    flex-grow: 1;
   // border-left: 2px solid green;
    display: flex;
    flex-flow: row;
    justify-content: left;
    margin-top: 10px;
    
}
.dashPostButton{
    border: 1px solid rgb(161, 127, 255);
    transition: 0.3s;
  // padding: 5px;
    margin: 0 10px;
    margin-left: 0;
    border-radius: 5px;
    min-width: fit-content;
    flex-grow: 1;
    max-width: 110px;
    //padding-top: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center;

}
.buttonContainerProfile{
    //padding: 5px;
    cursor: pointer;
    text-align: center;
// height: 50%;
   
.buttonContainerProfileText{
    text-align: center;
}

}
.edit{
   // height: 50%;
    border: 1px solid rgb(161, 127, 255);
    transition: 0.3s;
   // padding: 5px;
    margin: 0 10px;
    
    border-radius: 5px;
    flex-grow: 1;
}
.edit:hover{
    border: 1px solid $post_cl;
}

.visit{
    border: 1px solid #F44336;
    color: #e34548;
    transition: 0.3s;
    //padding: 5px;
    margin: 0 10px;
    margin-right: 0px;
    border-radius: 5px;
    flex-grow: 1;
}
.visit:hover{
    border: 1px solid rgb(177, 49, 40);
}
.comments_score:hover{
    border: 1px solid $post_cl;
}


.dash_post_title{
    
    padding: 5px;
    //padding-left: 20px;
    margin-bottom:5px;

}
.dash_post_score{
    display: flex;
    flex-flow: column;
    font-size: 14px;
   //margin-left: 20px;
    width: fit-content;
    
    min-width: 112px;

}

.green_score{
    color: $green_scr;
    flex-grow: 0;
    font-size: 18px;

}
.red_score{
    color:#ff6a6a;
    flex-grow: 0;
    font-size: 18px;
}

.score_bar{
    flex-grow:2;
    flex-basis: 0;
    margin: 0 10px;
    display: flex;   
}

.red_bar{
    width: 40%;
    background-color:  $red_scr;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.green_bar{
    width: 60%;
    background-color: $green_scr;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.comments_score{
    flex-grow: 1;
    text-align: center;
    //padding-top: 10px;
   // border: 1px solid gray;
    transition: 0.3s;
    max-width: 110px;
    border-radius: 5px;
    //font-size: 18px;
    //margin-left: 20px;
   //padding-top: 7px;
   border: 1px solid gray;
    color: #8b8fa9;
    transition: 0.3s;
}

.add_post_plus{
    background-color: $back_cl;
    width: 50px;
    height: 50px;
    color: $post_cl;
    border-radius: 100%;
    text-align: center;
    font-size: 38px;
    line-height: 50px;
    align-self: center;
    margin: 0 auto;
}
.userPostsDot{
    color: rgb(104, 92, 92);
    margin: 0 20px;
    font-size: 18px;

}