
.dash_stats{
    display: flex;
    flex-flow: column;
    //background-color: antiquewhite;
    flex-grow: 1.2;
    flex-basis: 0;
   margin-left: 20px;
    height: fit-content;
    margin-top: 30px;
}